<div class="columns is-multiline trip">
  <div class="column is-one-half">
    <div class="image-container" style="background-image: url('{{ vm.user.image }}')" alt="{{ vm.user.username }}"></div>
  </div>
  <div class="column user-info is-one-half">
    <h3><strong>{{ vm.user.username }}</strong></h3>
    <button ui-sref="usersEdit({ id: vm.user.id })" class="button is-primary" ng-if="main.isAuthenticated() && main.currentUserId === vm.user.id">Edit</button>
    <button ng-click="vm.deleteUser()" class="button is-danger" ng-if="main.isAuthenticated() && main.currentUserId === vm.user.id">Delete</button>
  </div>
</div>

<div class="columns is-multiline">
  <div ng-repeat="trip in vm.user.trips" class="column is-one-third">
      <a ui-sref="tripsShow({ id: trip.id })">
        <img src="{{ trip.image }}" alt="{{ trip.name }}">
        <p><strong>{{ trip.location.name }}</strong></p>
      </a>
  </div>
</div>
