<h1>New Trips Page</h1>
<form name="vm.newForm" ng-submit="vm.create()" novalidate>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" id="location" name="location" ng-model="vm.trip.location" google-autocomplete>
    <input type="hidden" name="lat" id="lat" ng-model="vm.trip.location.lat">
    <input type="hidden" name="lng" id="lng" ng-model="vm.trip.location.lng">
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" id="image" name="image" ng-model="vm.trip.image">
  </div>

  <input type="submit" value="Add Trip">
</form>
