<h1>Show Trip Page</h1>


<div class="columns is-multiline trip">
  <div class="column is-one-half">
    <img ng-src="{{ vm.trip.image }}">
  </div>
  <div class="column is-one-half">
    <h2><strong>{{ vm.trip.location }}</strong></h2>
    <a ui-sref="usersShow({id:vm.trip.createdBy.id})"><h3>{{ vm.trip.createdBy.username }}</h3></a>
    <button ng-click="vm.delete()" class="button" ng-if="main.isAuthenticated() && main.currentUserId === vm.trip.createdBy.id">Delete</button>
  </div>
  <button ui-sref="tripsEdit({ id: vm.trip.id })" class="button" ng-if="main.isAuthenticated() && main.currentUserId === vm.trip.createdBy.id">Edit</button>
</div>
<div>
  <button>Add bill</button>
  <button ng-if="main.isAuthenticated() && main.currentUserId === vm.trip.createdBy.id">Add Friends</button>
</div>
<div class="column is-one-half">
  <google-map style="height:200px" center="{ lat: vm.trip.latitude, lng: vm.trip.longitude }" message="vm.trip.location"></google-map>
</div>
