
<div class="trip">
  <div>
    <div class="image-trip" style="background-image: url('{{ vm.trip.image }}')" alt="{{ vm.trip.location.name }}">
      <blockquote>
        <p class="trip-quote">{{ vm.trip.location.name }}</p>
      </blockquote>
    </div>
  </div>
  <br>
  <div>
    <h3><a ui-sref="usersShow({id:vm.trip.createdBy.id})">{{ vm.trip.createdBy.username }}</a>'s Trip'</h3>
  </div>
  <br>
  <div>
    <google-map style="height:288px" center="{ lat: vm.trip.location.lat, lng: vm.trip.location.lng }" message="vm.trip.location.name"></google-map>
  </div>
  <div class="user-info">
    <button ui-sref="tripsEdit({ id: vm.trip.id })" class="button is-primary" ng-if="main.isAuthenticated() && main.currentUserId === vm.trip.createdBy.id">Edit Trip</button>
    <button ng-click="vm.delete()" class="button is-danger" ng-if="main.isAuthenticated() && main.currentUserId === vm.trip.createdBy.id">Delete Trip</button>
  </div>
</div>

<hr>
<h3><strong>Members</strong></h3>
<div class="show members">
  <div class="columns is-mobile">
    <div ng-repeat="member in vm.trip.members track by $index" class="members-container column is-one-third">
      <div class="image-container" style="background-image: url('{{ member.image }}')"></div>
    </div>
  </div>
</div>

<div class="show add-member" ng-if="main.isAuthenticated() && main.currentUserId === vm.trip.createdBy.id">
  <form ng-submit="vm.addMember()">
    <div class="control add-width">
      <div class="select">
        <select ng-model="vm.memberId" ng-options="user.id as user.username for user in vm.allUsers">
          <option value="">Add member</option>
        </select>
        <input type="submit" class="button is-primary" value="Add Friends">
      </div>
    </div>
  </form>
</div>


<div ng-if="main.isAuthenticated() && vm.allMemberIds.includes(main.currentUserId)">

  <h3><strong>Add Bills</strong></h3>
  <div class="show add-bill">
    <form ng-submit="vm.addBill()">
      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <input class="input" ng-model="vm.bill.location" google-autocomplete>
        </div>
      </div>
      <div class="field">
        <label class="label">Amount</label>
        <input class="input" ng-model="vm.bill.amount" placeholder="Enter amount">
      </div>
      <input type="submit" class="button is-primary" value="Add bill">
    </form>
  </div>

  <div class="balance columns is-multiline">
    <div class="column is-half">
      <h3>Total spend: £<span>{{ vm.totalSpend }}</span></h3>
    </div>
    <div class="column is-half">
      <h3>Your spend: £<span>{{ vm.yourSpend }}</span></h3>
    </div>
    <div class="column">
      <h3><strong>Your balance:</strong> £<span>{{ vm.yourBalance }}</span></h3>
    </div>
  </div>

  <hr>
  <h3><strong>Bills</strong></h3>
  <div class="show bills">
    <div class="columns is-mobile is-multiline">
      <div ng-repeat="bill in vm.trip.bills" class="members-container column is-one-third">
        <div class="columns">
          <div class="column is-one-third">
            <div class="image-container" style="background-image: url('{{ bill.createdBy.image }}')"></div>
          </div>
          <div class="column is-one-third">
            <p><strong>{{ bill.location.name }}</strong></p>
          </div>
          <div class="column is-one-third">
            <p><strong>£ {{ bill.amount }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="show pie-chart">
    <canvas id="pie" class="chart chart-pie"
    chart-data="vm.memberTotalBillAmounts" chart-labels="vm.labels"></canvas>
  </div>
</div>
<hr>
