<!DOCTYPE html>
<html ng-app="tripsApp">
<head>
  <title>WDI Group Project - GSD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgJa5sZToPGv3y7g-5qhyXDFeg61ReSk0&libraries=places"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav class="nav has-shadow">
      <div class="nav-left">
        <a class="nav-item logo" ui-sref="tripsHome">
          GSD Trips
        </a>
      </div>
      <span class="nav-toggle" ng-class="{ 'is-active': main.navIsOpen}" ng-click="main.navIsOpen = !main.navIsOpen">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu" ng-class="{ 'is-active': main.navIsOpen}">
        <a class="navbar-item" ui-sref="tripsIndex" ui-sref-active="active">All trips</a>
        <a class="navbar-item" ui-sref="usersIndex" ui-sref-active="active">All users</a>
        <a class="navbar-item" ng-if="main.isAuthenticated()" ui-sref="tripsNew" ui-sref-active="active">Add a trip</a>
        <a class="navbar-item" ng-if="!main.isAuthenticated()" ui-sref="login" ui-sref-active="active">Login</a>
        <a class="navbar-item" ng-if="!main.isAuthenticated()" ui-sref="register" ui-sref-active="active">Register</a>
        <a class="navbar-item" ng-if="main.isAuthenticated()" ng-click="main.logout()">Logout</a>
        <a class="navbar-item" ng-if="main.isAuthenticated()" ui-sref="usersShow({ id: main.currentUserId })"><img class="profile" src="{{ main.currentUser.image }}"></a>

      </div>
    </nav>
  </header>
  <div class="container">
    <div class="message" ng-if="main.message">
      <p>{{ main.message }}</p>
    </div>
    <main ui-view></main>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>GSD Trips</strong> by:
          <br>
          <a target="_blank" href="https://github.com/mjwim">Matthew</a>,
          <a target="_blank" href="https://github.com/KModestas">Modestas</a> &
          <a target="_blank" href="https://github.com/philipforsberg">Philip</a>.
          <br>
          General Assembly, London, 2018
        </p>
      </div>
    </div>
  </footer>
</body>
</html>
