@import "bulma/sass/utilities/initial-variables";

$primary: #6ab5ff;
$danger: #f9628b;
$family-serif: 'Playfair Display', serif;
$family-primary: $family-serif;

@import "bulma/bulma";

.show {
  height: 100px;
  width: 100%;
  border: 1px solid black;
}

.members {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  overflow-x: scroll;
}
