@import "bulma/sass/utilities/initial-variables";
@import "phil-carousel";

$primary: #6ab5ff;
$danger: #f9628b;
$family-serif: 'PT Sans Narrow', sans-serif;
$family-primary: $family-serif;

@import "bulma/bulma";

main {
  max-width: 95%;
  margin: 15px auto 0 auto;
}

nav {
  .nav-right {
    a {
      margin: 15px;
      font-size: 20px;
    }
  }
  a.logo {
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    color: #7fc0f1;
  }
}

img {
  // border-radius: 5px;
}

.home-login {
  max-width: 95%;
  margin: 0 auto;
  div {
    margin: 0 15px 0 15px;
  }
}

.search-bar {
  margin: 15px auto 15px auto;
  text-align: center;
  // input {
  //   height:
  // }
}

.image-container {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: solid 1px white;
}

.image-trip {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border: solid 1px white;
  blockquote {
    p {
      text-align: center;
      width: 100%;
      color: white;
      font-family: 'Bad Script';
    }
  }
}
p {
  font-size: 18px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 21px;
}

select {
  font-size: 16px;
}

.show {
  min-height: 100px;
  width: 100%;
}

.members {
  width: 100%;
  min-height: 160px;
  overflow-x: scroll;
  .column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.add-width {
    margin: 0 auto;
    text-align: center;
    select {
      margin: 0px auto 15px auto;
      width: 350px;
    }
    input {
      width: 100%;
    }
}

.profile {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  border: 2px solid black;
}

.user-info {
  margin: 15px auto;
  text-align: center;
}

footer {
  margin-top: 25px;
}
